img {
  max-width: 100%;
}
.cartList {
  max-width: 300px;
}
.cartList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cartList ul li {
  font-size: 12px;
}
button.remove-listing {
  position: relative;
  height: 15px;
  width: 15px;
  padding: 2px;
  border-radius: 50%;
  background: rgb(70, 70, 70);
  border: none;
}
button.remove-listing:after {
  content: 'x';
  color: #fff;
  position: absolute;
  top: -2px;
  left: 4px;
  font-size: 14px;
}
header {
  padding: 15px 0;
}