img {
  max-width: 100%;
}
.cartList {
  max-width: 300px;
}
.cartList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cartList ul li {
  font-size: 12px;
}
button.remove-listing {
  position: relative;
  height: 15px;
  width: 15px;
  padding: 2px;
  border-radius: 50%;
  background: rgb(70, 70, 70);
  border: none;
}
button.remove-listing:after {
  content: 'x';
  color: #fff;
  position: absolute;
  top: -2px;
  left: 4px;
  font-size: 14px;
}
header {
  padding: 15px 0;
  background: rgb(65, 65, 65);
  color: #fff;
}
header svg {
  fill: #fff;
}
header .logo {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.cart {
  position: relative;
}

.cartList {
  padding: 10px;
  position: absolute;
  z-index: 1000000;
  background: #fff;
  width: 300px;
  top: 100%;
  right: 0;
  border: 1px solid darkgrey;
  border-radius: 5px;
}